@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import url('//fonts.googleapis.com/css?family=Rubik:400,500,700,900');
@import url('//fonts.googleapis.com/css?family=Poppins:100,200,300,400'); */
@import "typeface-rubik";
@import "typeface-poppins";

* {
  font-family: 'Poppins', sans-serif;
  color: #1F1D1B;
}
a, label.pointer {
  font-weight: 700;
  letter-spacing: 2px;
}
a.red:hover, a.red:active {
  text-decoration: none;
  color: #F21646;
}

a.yellow:hover, a.yellow:active {
  text-decoration: none;
  color: #FFD20A;
}

input {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

body {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

label {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
}
h1 {
  line-height: 65px;
}

.Rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.Rubik-700{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.Poppins-200{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.Poppins-300{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.Poppins-400{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.Poppins-500{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.Poppins-600{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


.Poppins-700{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.title {
  letter-spacing: 0;
  align-self: center;
  align-items: center;
  font-weight: 700;
}

.white {
  color: #FFFFFF;
}

.red {
  color: #F21646;
}

.cream {
  color: #FFF9F2;
}

.yellow {
  color: #FFD20A;
}

.black {
  color: #292929;
}

.blue {
  color: #8CCCF5;
}

.gray {
  color: #CCCCCC;
}

.bg-red {
  background-color: #F21646;
}

.bg-cream {
  background-color: #FFF9F2;
}

.bg-yellow {
  background-color: #FFD20A;
}

.bg-black {
  background-color: #1F1D1B;
}

.bg-blue {
  background-color: #8CCCF5;
}

.text-small {
  font-size: 14px;
}

.text-xs {
  font-size: 16px;
}

.text-sm {
  font-size: 18px;
}

.text-md {
  font-size: 20px;
}

.text-lg {
  font-size: 25px;
}

.text-xl {
  font-size: 60px;
}

.text-xxl {
  font-size: 80px;
}
.no-padding {
  padding: 0;
}
.padding-left-sm {
  padding-left: 5px;
}
.padding-right-sm {
  padding-right: 5px;
}
.padding-top-sm {
  padding-top: 5px;
}
.padding-bottom-sm {
  padding-bottom: 5px;
}
.padding-all-sm {
  padding: 5px;
}

.padding-left-md {
  padding-left: 16px;
}
.padding-right-md {
  padding-right: 16px;
}
.padding-top-md {
  padding-top: 16px;
}
.padding-bottom-md {
  padding-bottom: 16px;
}
.padding-all-md {
  padding: 16px;
}

.padding-left-lg {
  padding-left: 28px;
}
.padding-right-lg {
  padding-right: 28px;
}
.padding-top-lg {
  padding-top: 28px;
}
.padding-bottom-lg {
  padding-bottom: 28px;
}
.padding-all-lg {
  padding: 28px;
}


.padding-left-xl {
  padding-left: 35px;
}
.padding-right-xl {
  padding-right: 35px;
}
.padding-top-xl {
  padding-top: 34px;
}
.padding-bottom-xl {
  padding-bottom: 35px;
}
.padding-all-xl {
  padding: 35px;
}



.padding-left-xxl {
  padding-left: 48px;
}
.padding-right-xxl {
  padding-right: 48px;
}
.padding-top-xxl {
  padding-top: 48px;
}
.padding-bottom-xxl {
  padding-bottom: 48px;
}
.padding-all-xxl {
  padding: 48px;
}

.margin-left-sm {
  margin-left: 5px;
}
.margin-right-sm {
  margin-right: 5px;
}
.margin-top-sm {
  margin-top: 5px;
}
.margin-bottom-sm {
  margin-bottom: 5px;
}
.margin-all-sm {
  margin: 5px;
}

.margin-left-md {
  margin-left: 16px;
}
.margin-right-md {
  margin-right: 16px;
}
.margin-top-md {
  margin-top: 16px;
}
.margin-bottom-md {
  margin-bottom: 16px;
}
.margin-all-md {
  margin: 16px;
}

.margin-left-lg {
  margin-left: 25px;
}
.margin-right-lg {
  margin-right: 25px;
}
.margin-top-lg {
  margin-top: 25px;
}
.margin-bottom-lg {
  margin-bottom: 25px;
}
.margin-all-lg {
  margin: 25px;
}

.margin-left-xl {
  margin-left: 35px;
}
.margin-right-xl {
  margin-right: 35px;
}
.margin-top-xl {
  margin-top: 35px;
}
.margin-bottom-xl {
  margin-bottom: 35px;
}
.margin-all-xl {
  margin: 35px;
}

.margin-left-xxl {
  margin-left: 50px;
}
.margin-right-xxl {
  margin-right: 50px;
}
.margin-top-xxl {
  margin-top: 50px;
}
.margin-bottom-xxl {
  margin-bottom: 50px;
}
.margin-all-xxl {
  margin: 50px;
}

.margin-left-xxxl {
  margin-left: 70px;
}
.margin-right-xxxl {
  margin-right: 70px;
}
.margin-top-xxxl {
  margin-top: 70px;
}
.margin-bottom-xxxl {
  margin-bottom: 70px;
}
.margin-all-xxxl {
  margin: 70px;
}

.btn {
  border-radius: 9999px;
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
  letter-spacing: 2px;
}

.btn-xl {
  padding: 15px 45px 15px 45px;
  font-size: 24px;
}

.btn-default {
  min-height: 47px;
  min-width: 113px;
  font-size: 20px;
}

.btn:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #FFF9F2;
}

.btn-red {
  background-color: #F21646;
  color: #FFF9F2;
}

.btn-red:active {
  color: #FFD20A;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

.btn-yellow {
  background-color: #FFD20A;
  color: #FFF9F2;
}

.btn-yellow:active {
  color: #F21646;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}


.full-height {
  height: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.pointer {
  cursor: pointer;
}

.tracking-wide {
  letter-spacing: 2px;
}

.display-block {
  display: block;
}

.underline {
  text-decoration: underline;
}

.rounded-edges {
  border-radius: 9999px;
}

.card {
  border-radius: 35px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.13), 0 3px 4px rgba(0,0,0,0.13);
}



.sticky {
  /* box-shadow: 0 3px 6px 0 rgba(0,0,0,.08); */
  position: sticky;
  top: 0;
  height: 120px;
  width: 100%;
}

.display-inline-block {
  display: inline-block;
}


img.logo {
  width: 40px;
  height: 55px;
}

img.brand {
  height: 17px;
}
