<div id="header">
  <div class="container-fluid max-height">
      <div class="row max-height center-vertical">
          <div class="col-md-6">
            <div class="row">
              <img class="margin-left-xl margin-right-md"/>
              <h3 class="red title">thisability</h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="offset-md-1 col-md-2"><h5 class="red Rubik-700 pointer" (click)="goToAbout()">about</h5></div>
              <div class="col-md-4"><h5 class="red Rubik-700 pointer">discount calculator</h5></div>
              <div class="col-md-4"><h5 class="red Rubik-700 pointer">registration process</h5></div>
            </div>
          </div>
        </div>
  </div>
</div>
