.header {
  width: 100%;
  height: 65px;
  background-color: #FFD20A;
  background-image: linear-gradient(#FFD20A, #FFDB3B, #FFED9D, #FFF9F2, #FFF9F2, #FFF9F2);
}

.max-height {
  height: 100%;
}

.center-vertical {
  align-items: center;
}

img {
  border-radius: 50%;
  border: solid 1px #1F1D1B;
  width: 35px;
  height: 35px;
  background-color: white;
}

