<div id="header" class="bg-cream">
  <div class="container-fluid max-height">
      <div class="row max-height center-vertical">
          <div class="offset-md-1 col-md-5">
              <img src="../../assets/img/logo-red.png" class="logo margin-right-sm"/>
              <img src="../../assets/img/brand-red.png" class="brand margin-left-md"/>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <label class="red text-xs pointer" (click)="goToAbout()">ABOUT</label>
              </div>
              <div class="col-md-5">
                  <a class="red text-xs" routerLink="/calculator">DISCOUNT CALCULATOR</a>
              </div>
              <div class="col-md-5">
                <a class="red text-xs" routerLink="/registration-process">REGISTRATION PROCESS</a>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
