<div class="header">
  <div class="container-fluid max-height">
      <div class="row max-height center-vertical">
          <div class="col-md-6">
            <div class="row">
              <img class="margin-left-xl margin-right-sm"/>
              <h4 class="red title">thisability</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="offset-md-2 col-md-2"><h6 class="red">about</h6></div>
              <div class="col-md-4"><h6 class="red">discount calculator</h6></div>
              <div class="col-md-4"><h6 class="red">registration process</h6></div>
            </div>
          </div>
        </div>
  </div>
</div>
