.footer {
  width: 100%;
  height: 115px;
}


.max-height {
  height: 100%;
}

.center-vertical {
  align-items: center;
}

img {
  border-radius: 50%;
  border: solid 1px #1F1D1B;
  width: 58px;
  height: 58px;
  background-color: white;
}
