<div class="row margin-bottom-xl">
  <div class="offset-md-1 col-md-10">
    <div class="row">
        <div class="col-md-4">
            <a class="red text-sm" routerLink="{{ footerLink.routerLinkLeft }}">
                <i *ngIf="footerLink.labelLeft" class="fa red fa-chevron-left" aria-hidden="true"></i>
              {{ footerLink.labelLeft }}
            </a>
        </div>
        <div class="offset-md-4 col-md-4">
            <a class="red text-sm float-right" routerLink="{{ footerLink.routerLinkRight }}">
              {{ footerLink.labelRight }}
              <i *ngIf="footerLink.labelRight" class="fa red fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
  </div>

</div>
<div class="footer bg-cream">
    <div class="container-fluid max-height">
        <div class="row max-height center-vertical">
            <div class="offset-md-1 col-md-5">
                <img src="../../assets/img/logo-red.png" class="logo margin-right-sm"/>
                <img src="../../assets/img/brand-red.png" class="brand margin-left-md"/>
            </div>
            <div class="offset-md-3 col-md-2">
              <div class="row margin-top-md">
                <div class="col-md-12">
                  <img src="../../assets/img/fb-icon-red.png" class="fb-icon float-right pointer" (click)="redirectToFBPage()">
                  <a id="fb-redirect" href="{{fbLink}}" target="_blank" hidden></a>
                </div>
              </div>
              <div class="row margin-top-sm">
                  <div class="col-md-12">
                      <label class="float-right Poppins-200 gray text-small">copyright 2019</label>
                  </div>
              </div>
            </div>
          </div>
    </div>
  </div>
