<div class="row margin-bottom-md">
  <div class="offset-md-6 col-md-3">
      <h5 class="red Rubik-700 text-md pointer">Discount Calculator&nbsp;&nbsp;></h5>
  </div>
  <div class="col-md-3">
      <h5 class="red Rubik-700 text-md pointer">Registration Process&nbsp;&nbsp;></h5>
  </div>
</div>
<div class="footer bg-yellow">
    <div class="container-fluid max-height">
        <div class="row max-height center-vertical">
            <div class="col-md-3">
              <div class="row">
                <img class="margin-left-xl margin-right-md"/>
                <h3 class="red title">thisability</h3>
              </div>
            </div>
            <div class="col-md-3">
                <img/>
            </div>
            <div class="offset-md-4 col-md-2">
            <label class="black float-right margin-top-xl Poppins-500">copyright 2019</label>
            </div>
          </div>
    </div>
  </div>
