#total-calculator input {
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: white;
}

#total-calculator input.small {
  height: 33px;
}

#total-calculator input.big {
  height: 42px;
}

#total-calculator hr {
  border-top: solid 1px;
}


::ng-deep .tooltip.show {
  width: 200px;
}

::ng-deep .tooltip-inner {
  padding: 5px;
  font-size: 14px;
  z-index: 300px !important;
}

.fa-times-circle {
  position: absolute;
  top:15px;
  right: 15px
}
