#total-calculator {
  z-index: 100;
}

#total-calculator input {
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: white;
}

#total-calculator input.small {
  height: 33px;
}

#total-calculator input.big {
  height: 42px;
}

#total-calculator hr {
  border-top: solid 1px;
}

.discount-calculator {
  background-image: linear-gradient(#FFF9F2, white);
}

.benefits-redirect {
  letter-spacing: 0px;
}

.tooltip-class .tooltip-inner {
  background-color: darkgreen;
  font-size: 125%;
}
.tooltip-class .arrow::before {
  border-top-color: darkgreen;
  left: 30%;
}
