<div class="container-fluid">
  <div class="row text-center discount-calculator padding-top-lg margin-bottom-xl">
    <div class="offset-md-2 col-md-8">
      <h1 class="text-xl red margin-top-xxl">Discount Calculator</h1>
      <h4 class="margin-top-lg margin-bottom-sm text-lg">Still don't think it's worth it to register?</h4>
      <h4 class="margin-bottom-sm text-lg">Input your monthly expenses!</h4>
      <label class="Poppins-300 margin-top-lg text-sm padding-left-xxxl padding-right-xxxl">Find out how much you could be saving in your groceries, transportation, medicine, and recreational expenses using the discount calculator.</label>
      <label class="Poppins-300 margin-top-lg text-sm display-block">*Take note that there are items and services not included in the PWD discounts.</label>
      <label class="Poppins-300 text-sm margin-top-sm">See <span class="red underline pointer" (click)="goToAbout()">benefits</span> in the about page.</label>
    </div>
  </div>

  <div class="row margin-top-lg">
    <div class="offset-md-2 col-md-8">
      <hr>
    </div>
  </div>

  <div class="row margin-top-md margin-bottom-xxxl">
    <div class="offset-md-2 col-md-8">
      <div class="row">
        <div class="col-md-6 calculator-list">
          <div class="row" *ngFor="let c of calculatorArray; let i = index;">
            <div class="col-md-12">
              <app-calculator-item [index]="i" [label]= "c.label" (totalPriceChanging)="computeForDiscount($event)"></app-calculator-item>
            </div>
          </div>
        </div>
        <div class="offset-md-1 col-md-5">
        <div class="row">
            <div class="col-md-1">
              <h1 class="text-xl red margin-top-md">&nbsp; </h1>
            </div>
          </div>
          <div id="total-calculator" >
          <div class="bg-red card margin-top-sm padding-all-lg">
            <div class="row">
              <h4 class="offset-md-1 col-md-5 Poppins-600 white text-sm">EXPENSES
                <i class="fa fa-question-circle yellow" aria-hidden="true" ngbTooltip="Test Tooltip" triggers="manual" #t1="ngbTooltip" (click)="toggleWithGreeting(t1, 'Bonjour')" tooltipClass="tooltip-class"></i>
              </h4>
              <h4 class="col-md-6 Poppins-600 white text-sm">DISCOUNTED <i class="fa fa-question-circle yellow" aria-hidden="true"></i></h4>
            </div>
            <div class="margin-top-md" *ngFor="let c of calculatorArray; let i = index;">
              <div class="row margin-bottom-xs">
                <div class="offset-md-1 col-md-5">
                    <label class="Poppins-200 text-sm white small" [textMask]="{ mask: currencyMask }">{{ c.label }}</label>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-1 col-md-5">
                    <input class="text-sm Poppins-700 small text-center tracking-wide" [textMask]="{ mask: currencyMask }" readonly disabled value="{{ c.total.toLocaleString() }}">
                </div>
                <div class="col-md-5">
                    <input class="text-sm Poppins-700 small text-center tracking-wide" [textMask]="{ mask: currencyMask }" readonly disabled value="{{ c.discount.toLocaleString() }}">
                </div>
              </div>
            </div>
            <div class="row margin-top-sm margin-bottom-sm">
              <div class="offset-md-1 col-md-10">
                <hr class="white">
              </div>
            </div>
            <div class="row text-center">
                <div class="offset-md-1 col-md-10">
                    <h4 class="Poppins-600 white text-sm tracking-wide">TOTAL EXPENSES <i class="fa fa-question-circle yellow" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row margin-top-sm margin-bottom-lg">
                <div class="offset-md-1 col-md-10">
                    <input class="text-sm Poppins-700 big text-center" readonly disabled value="{{ displayedTotalExpenses}}">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="Poppins-600 white text-sm tracking-wide">DISCOUNTED EXPENSES <i class="fa fa-question-circle yellow" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row margin-top-sm">
                <div class="offset-md-1 col-md-10">
                    <input class="text-sm Poppins-700 big text-center" readonly disabled value="{{ displayedDiscountedExpenses}}">
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
