/* #total-calculator {
  z-index: 30;
} */

.discount-calculator {
  background-image: linear-gradient(#FFF9F2, white);
}

.benefits-redirect {
  letter-spacing: 0px;
}
/*
::ng-deep .tooltip-inner {
  background-color: darkgreen;
  font-size: 125%;
}
::ng-deep .arrow{
  transform: rotate(-45deg);
  left: calc(97% - .4rem) !important;
  width: 0 !important;
  height: 0 !important;
}

::ng-deep .arrow::before{
  top: 0;
  border-width: .9rem .4rem .9rem !important;
  border-top-color: white !important;
}

::ng-deep .tooltip-inner {
  border-radius: 10px 10px 0px 10px !important;
  background-color: white;
  color: black;
  font-size: 14px;
}

::ng-deep .tooltip.show {
  border: 1px gray solid;
  border-radius: 10px 10px 0px 10px !important;
  padding-bottom: 0px !important;
  padding-right: 1px !important;
  transform: translate(-50%, -55px) !important;
  opacity: .68 !important;
  width: 200px;
} */


.modal-content {
  background: rgba(0,0,0,0.0);
  border: none;
}
