
.half-viewport {
  height: 700px;
}

.slider {
  position: relative;
  text-align: center;
  color: white;
}

.slider img {
  width: 100%;
  height: 100%;
}

.slider .text {
  position: absolute;
  top: 8px;
  left: 16px;
}

.slider .tag {
  align-items: flex-start;
  text-align: start;
}

.center {
  height: 100%;
  position: relative;
}

.center div {
  margin: 0;
  position: absolute;
  top: 35%;
}

.magna {
  margin-top: 75px;
  margin-bottom: 75px;
}

.magna-slider img {
  height: 100%;
  width: 100%;
}


.center-magna {
  height: 100%;
  position: relative;
}

.center-magna div {
  margin: 0;
  position: absolute;
  top: 20%;
}
