<div class="half-viewport slider">
  <img src="../../../assets/img/landing.png">
  <div class="container-fluid full-height text">
    <div class="row full-height">
      <div class="offset-md-1 col-md-4 center">
            <div class="tag">
                <h1 class="text-xl">Learn<br>your rights.</h1>
                <label class="margin-top-md margin-bottom-md display-block text-xs">Persons with disability are one of the significant
                  sectors in the Philippines. To improve their well-being, the State has provided them the benefits they are entitled to.
                  </label>
                <button class="btn btn-xl btn-red margin-top-md" (click)="goToAbout()">learn more</button>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="half-viewport magna-slider">
    <div class="container-fluid full-height">
      <div class="row full-height" id="about">
        <div class="col-md-6 bg-cream">
          <div class="row full-height">
            <div class="offset-md-2 col-md-8 center-magna full-height">
              <div>
                <h1 class="text-xl red">Magna Carta<br>for PWDs</h1>
                <h4 class="black margin-top-sm tracking-wide">REPUBLIC ACT NO. 7277</h4>
                <label class="margin-top-xl text-xs">
                    The State gives full support to the improvement of the PWD’s total well-being and
                    integration into the mainstream of society. To attain the said goals,
                    the State adopted policies to ensure the rehabilitation, self-development,
                    and self-reliance of people with disability. These policies encompass the
                    Magna Carta for Persons with Disability.
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 no-padding">
          <img src="../../../assets/bg-placeholder.png">
        </div>
      </div>
    </div>
  </div>
