<div class="d-none d-md-block">
<div class="slider" id="slider">
  <img class="landing-img" src="../../../assets/img/landing.jpg">
  <!-- <div class="slide-arrow">
    <img src="../../../assets/img/down-arrow-black.png" class="pointer" (click)="goToAbout()">
  </div> -->
  <div class="container-fluid full-height text">
      <img src="../../../assets/img/down-arrow-black.png" class="pointer slide-arrow" (click)="goToAbout()">
    <div class="row full-height">
      <div class="offset-md-1 col-md-5 center">
            <div class="tag">
                <h1 class="text-xl">Learn<br>your rights.</h1>
                <label class="margin-top-md margin-bottom-md display-block text-sm padding-right-xl">Persons with disability are one of the significant
                  sectors in the Philippines. To improve their well-being, the State has provided them the benefits they are entitled to.
                  </label>
                <button class="btn btn-xl btn-red margin-top-md" (click)="goToAbout()">learn more</button>
                <img src="../../assets/img/fb-icon-red.png" class="fb-icon pointer margin-left-lg margin-top-md" (click)="redirectToFBPage()">
                <a id="fb-redirect" href="{{fbLink}}" target="_blank" hidden></a>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="magna-slider">
    <div class="container-fluid full-height">
      <div class="row full-height" id="about">
        <div class="col-md-6 bg-cream">
          <div class="row full-height">
            <div class="offset-md-2 col-md-8 center-magna full-height">
              <div>
                <h1 class="text-xl red">Magna Carta<br>for PWDs</h1>
                <h4 class="black margin-top-sm tracking-wide">REPUBLIC ACT NO. 7277</h4>
                <label class="margin-top-xl text-sm">
                    The State gives full support to the improvement of the PWD’s total well-being and
                    integration into the mainstream of society. To attain the said goals,
                    the State adopted policies to ensure the rehabilitation, self-development,
                    and self-reliance of people with disability. These policies encompass the
                    Magna Carta for Persons with Disability.
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 no-padding">
          <img src="../../../assets/img/magna-carta.jpg">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-md-none">
    <div class="slider-mobile" id="slider-mobile">
      <div class="row right-crop">
        <img class="landing-img" src="../../../assets/img/landing.jpg">
      </div>
      <div class="row margin-bottom-xxxl">
        <div class="offset-md-1 col-md-5 padding-all-xxl">
            <h1 class="text-xl">Learn<br>your rights.</h1>
            <label class="margin-top-md margin-bottom-md display-block text-sm padding-right-xl">Persons with disability are one of the significant
              sectors in the Philippines. To improve their well-being, the State has provided them the benefits they are entitled to.
              </label>
            <button class="btn btn-xl btn-red margin-top-md" (click)="goToAbout()">learn more</button>
            <img src="../../assets/img/fb-icon-red.png" class="fb-icon pointer margin-left-lg margin-top-md" (click)="redirectToFBPage()">
            <a id="fb-redirect" href="{{fbLink}}" target="_blank" hidden></a>
        </div>
    </div>
    </div>
    <div class="magna-slider-mobile">
          <div class="row" id="about">
            <div class="col-md-12 bg-cream padding-all-xxl">
                <h1 class="text-xl red">Magna Carta<br>for PWDs</h1>
            </div>
            <div class="row">
              <div class="col-md-12 no-padding">
                  <img src="../../../assets/img/magna-carta.jpg">
              </div>
            </div>
              <div class="row bg-cream">
                <div class="col-md-12 padding-all-xxxl">
                    <h4 class="black margin-top-sm tracking-wide">REPUBLIC ACT NO. 7277</h4>
                    <label class="margin-top-xl text-sm">
                        The State gives full support to the improvement of the PWD’s total well-being and
                        integration into the mainstream of society. To attain the said goals,
                        the State adopted policies to ensure the rehabilitation, self-development,
                        and self-reliance of people with disability. These policies encompass the
                        Magna Carta for Persons with Disability.
                    </label>
                </div>
              </div>
          </div>
      </div>
    </div>
