<div class="slider half-viewport">
  <div class="container-fluid full-height">
    <div class="row full-height">
      <div class="offset-md-1 col-md-10 center">
        <div>
            <h1 class="text-xl red">Learn your <br>rights.</h1>
            <h4 class="black margin-top-sm">Lorem ipsum</h4>
            <button class="btn btn-red margin-top-xl">learn more</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="half-viewport">
    <div class="container-fluid full-height">
      <div class="row full-height">
        <div class="col-md-6 bg-yellow">
          <div class="row margin-top-xxl">
            <div class="offset-md-2 col-md-8">
                <h1 class="text-xl red">Magna Carta<br>for PWDs</h1>
                <h4 class="black margin-top-sm">REPUBLIC ACT NO. 7277</h4>
                <label class="margin-top-xl">
                    Persons with disability are one of the significant sectors in the Philippines.
                    With this, the State gives full support to the improvement of their total well-being
                    and integration into the mainstream of society. To attain the said goals,
                    the State adopted policies to ensure the rehabilitation, self-development,
                    and self-reliance of people with disability.
                    These policies encompass the Magna Carta for Persons with Disability.
                </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 magna-photo"></div>
      </div>
    </div>
  </div>
