
.half-viewport {
  height: 700px;
}

.full-viewport {
  height: 100vh;
}

.slider {
  position: relative;
  text-align: center;
  color: white;
  min-height: 725px;
  background-color: #fff7e6;
}

.slider img.landing-img {
  width: 100%;
  /* height: 100%; */
}

.slider .text {
  position: absolute;
  top: 8px;
  left: 16px;
}

.slider .slide-arrow {
  top: 80vh;
  position: absolute;
}

.slider .tag {
  align-items: flex-start;
  text-align: start;
}

.center {
  top: 15vh;
  height: 100%;
  position: relative;
}

.center div {
  margin: 0;
  position: absolute;
}

.magna {
  min-height: 725px;
}

.magna-slider img {
  width: 100%;
}


.center-magna {
  height: 100%;
  position: relative;
}

.center-magna div {
  margin: 0;
  position: absolute;
  top: 17%;
}

.fb-icon {
  height:50px;
  width:50px
}
