
.half-viewport {
  height: 700px;
}

.slider {
  background: url(../../../assets/bg-placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.magna-photo {
  background: url(../../../assets/bg-placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center {
  height: 100%;
  position: relative;
}

.center div {
  margin: 0;
  position: absolute;
  top: 30%;
}

.magna {
  margin-top: 75px;
}
