<div class="row margin-bottom-md margin-top-xxxl">
  <div class="col-md-12 text-center">
    <h1 class="text-xl margin-bottom-md margin-top-xxxl red">Eligibility</h1>
    <label class="text-sm">Who are eligible to register for a PWD ID?</label>
  </div>
</div>

<div class="row margin-bottom-xxxl">
  <div class="col-md-12 padding-all-xxl">
    <div class="row">
      <div *ngFor="let b of eligibilityArray; let i = index;" class="vertical-center"
      [ngClass]="{'offset-md-4 col-md-4': i === eligibilityArray.length - 1, 'offset-md-2 col-md-3': i !== eligibilityArray.length - 1}">
        <div class="text-center">
          <div class="padding-bottom-xxl margin-bottom-xxxl margin-top-xxxl">
              <label class="Rubik-700 text-lg red margin-bottom-md tracking-wide" innerHtml="{{b.caption}}">{{ b.caption }}</label><br>
              <label class="Poppins-300 text-sm" innerHtml="{{b.description}}">{{ b.description }}</label>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-bottom-xl margin-top-xxxl">
    <div class="col-md-12 text-center">
      <h1 class="text-xl margin-bottom-xl margin-top-xxxl red">Benefits</h1>
      <h4 class="tracking-wide text-lg margin-bottom-sm">20% DISCOUNT AND VAT EXEMPTION</h4>
      <label class="text-sm">You are entitled to a 20% discount and VAT exemption in the following services:</label>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="row">
        <div *ngFor="let b of benefitsArray20; let i = index;" class="col-md-4 margin-bottom-xxxl">
          <div class="benefit20-item text-center margin-bottom-xxl">
            <img src="{{b.imgUrl}}"/>
            <div class="Poppins-300 text-sm" innerHtml="{{b.caption}}">{{ b.caption }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top-xxxl">
      <div class="col-md-12 text-center padding-all-xxl">
        <h4 class="black tracking-wide text-lg">5% DISCOUNT</h4>
        <label class="text-sm Poppins-300 margin-top-sm">You are entitled to a 5% discount in the following services:</label>
      </div>
    </div>

  <div class="row benefits5">
      <div class="offset-md-2 col-md-8 padding-all-xxl">
        <div *ngFor="let b of benefitsArray5; let i = index;" class="row">
          <div class="offset-md-2 col-md-8">
            <div class="benefit5-item text-center margin-bottom-xxxl margin-top-xxl">
            <label class="Poppins-600 margin-all-md text-sm red">{{b.caption}}</label>
            <div class="text-sm Poppins-300" innerHtml="{{b.description}}">{{ b.description }}</div>
            </div>
            <hr *ngIf="i < benefitsArray5.length - 1">
          </div>
        </div>
      </div>
    </div>
