.what-to-bring img {
  width: 275px;
  height: 275px;
}

.steps img {
  border: solid 1px #1F1D1B;
  width: 100%;
  height: 385px;
  background-color: white;
}

.steps .caption {
  position: absolute;
  bottom: 15%;
}

.where-to-go img.display {
  width: 100%;
  height: 385px;
}
.where-to-go img.location-icon {
  width: 100%;
}

.what-to-bring .vertical-center h1 {
  vertical-align: middle;
  display: flex;
  align-items: center
}

.what-to-bring .vertical-center label {
  display: block;
  align-items: center
}

.what-to-bring .row {
  height: 100%;
}


#downloads .vertical-center {
  vertical-align: middle;
  display: flex;
  align-items: center
}

/* .download-links {
  border-radius: 10px;
} */
#downloads a {
  letter-spacing: 0 !important;
}
#downloads a:hover {
  color:black;
}
