
<div class="container-fluid" id="registration-process">
  <div class="row text-center margin-top-xl margin-bottom-md">
    <div class="offset-md-3 col-md-6">
      <h1 class="text-xl red margin-top-xxl">Registration Process</h1>
    </div>
  </div>
  <div class="row text-center margin-top-md" id="downloads">
      <div class="d-none d-md-block col-md-2">
        <div class="row full-height vertical-center">
          <div class="col-md-10 padding-all-sm">
            <a href="../../../assets/forms/PWD_Form.pdf" class="black text-small float-right Poppins-700 margin-left-md" download (click)="downloadForm()">DOWNLOAD FORM</a><br>
            <a href="../../../assets/forms/Checklist.pdf" class="black text-small float-right Poppins-700 margin-left-md" download (click)="downloadChecklist()">DOWNLOAD CHECKLIST</a>
          </div>
          <div class="col-md-1 padding-all-sm full-height">
            <!-- <div class="full-height bg-red download-links"></div> -->
            <img  src="../../assets/img/red-line.png">
          </div>
        </div>
      </div>
      <div class="offset-md-1 col-md-6" id="hide-when-sticky">
        <label class="text-sm">Ready to take a step and register, but you don’t know how? Follow the procedures below and you’ll be registered in no time!</label>
      </div>
    </div>

    <div class="row text-center margin-top-xxxl">
        <div class="col-md-12">
          <h1 class="text-xl red">What to Bring</h1>
        </div>
      </div>

  <div class="row what-to-bring margin-top-xl">
    <div *ngFor="let c of whatToBringArray; let i = index;" class="col-md-3 margin-bottom-xxl" [ngClass]="{'offset-md-3': i%2 === 0}">
      <div class="text-center">
        <img class="padding-all-xl" src="{{c.imgUrl}}">
        <h4 class="text-sm margin-top-xl margin-bottom-sm Poppins-700">{{c.caption}}</h4>
      </div>
    </div>
  </div>


<div class="row text-center margin-top-xxxl">
    <div class="col-md-12 margin-top-xxxl">
      <h1 class="text-xl red">Where to Go</h1>
    </div>
  </div>

<div class="row margin-top-xl where-to-go">
    <div class="offset-md-2 col-md-8">
        <div class="row margin-top-xl">
            <div *ngFor="let c of whereToGoArray;" class="col-md-6 margin-bottom-xl padding-right-sm padding-left-sm text-center">
              <div class="row margin-bottom-xl">
                <div class="offset-md-1 col-xs-2 col-md-2 vertical-center">
                    <!-- <i class="fa fa-4x red fa-map-marker" aria-hidden="true"></i> -->
                    <img class="location-icon" src="../../assets/img/location-icon.png">
                </div>
                <div class="col-md-8 vertical-center padding-all-sm">
                    <label class="text-sm Poppins-300 padding-left-lg padding-right-lg" innerHtml="{{c}}">{{ c }}</label>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row text-center margin-top-xxxl">
      <div class="col-md-12">
        <h1 class="text-xl red">Steps</h1>
      </div>
    </div>

  <div class="steps d-none d-md-block" *ngFor="let c of stepsArray; let i = index;">
    <div class="row margin-top-xl margin-bottom-md" *ngIf="(i%2 === 0)">
        <div class="offset-md-2 col-md-6">
            <img src="{{c.imgUrl}}">
        </div>
        <div class="col-md-2">
          <div class="caption">
            <h1 class="red text-xxl margin-bottom-md">{{ (i+1) }}</h1>
            <label class="text-sm Poppins-200">{{ c.caption }}</label>
          </div>
        </div>
    </div>

    <div class="row margin-top-xl margin-bottom-md" *ngIf="(i%2 !== 0)">
        <div class="offset-md-2 col-md-2">
          <div class="caption text-right padding-right-md">
              <h1 class="red text-xxl margin-bottom-md">{{ (i+1) }}</h1>
              <label class="text-sm Poppins-200">{{ c.caption }}</label>
            </div>
        </div>
        <div class="col-md-6">
          <img src="{{c.imgUrl}}">
        </div>
    </div>
  </div>

  <div class="d-md-none steps-mobile" *ngFor="let c of stepsArray; let i = index;">
      <div class="row margin-top-xl margin-bottom-md" *ngIf="(i%2 === 0)">
          <div class="offset-md-2 col-md-6 margin-bottom-md">
              <img src="{{c.imgUrl}}">
          </div>
          <div class="col-md-2">
            <div class="caption">
              <h1 class="red text-xxl margin-bottom-md">{{ (i+1) }}</h1>
              <label class="text-sm Poppins-200 margin-left-md padding-right-lg">{{ c.caption }}</label>
            </div>
          </div>
      </div>

      <div class="row margin-top-xl margin-bottom-md" *ngIf="(i%2 !== 0)">
          <div class="col-md-6 margin-bottom-md">
              <img src="{{c.imgUrl}}">
            </div>
          <div class="offset-md-2 col-md-2">
            <div class="caption padding-right-md">
                <label class="text-sm Poppins-200 text-right margin-right-xxl padding-right-md">{{ c.caption }}</label>
                <h1 class="red text-xxl margin-bottom-md text-right float-right">{{ (i+1) }}</h1>
              </div>
          </div>
      </div>
    </div>

      <div class="row margin-top-xxxl margin-bottom-xxxl">
          <div class="offset-md-2 col-md-12">
            <label class="text-small gray Poppins-700">Sources:</label><br>
            <a class="text-small gray Poppins-200" href="https://www.esquiremag.ph/culture/lifestyle/pwd-id-mental-illness-a2217-20180813" target="_blank">Esquire: There's a PWD ID for Mental Illness. Here's How to Apply for One</a><br>
            <a class="text-small gray Poppins-200" href="http://www.ncda.gov.ph/2009/07/apply-fo-pwd-id-card/">NCDA: How to Apply for PWD ID Card</a>
          </div>
        </div>
</div>
