
<div class="container-fluid">
  <div class="row text-center margin-top-xl margin-bottom-md">
    <div class="col-md-12">
      <h1 class="text-xl red margin-top-xxl">Registration Process</h1>
    </div>
  </div>
  <div class="row text-center margin-top-md downloads">
      <div class="offset-md-3 col-md-3">
        <img src="../../assets/bg-placeholder.png">
        <label class="text-xs Poppins-700 margin-left-md">DOWNLOAD CHECKLIST</label>
      </div>
      <div class="col-md-3">
        <img src="../../assets/bg-placeholder.png">
        <label class="text-xs Poppins-700 margin-left-md">DOWNLOAD FORMS</label>
      </div>
    </div>

    <div class="row text-center  margin-top-xxxl">
        <div class="col-md-12">
          <h1 class="text-xl red">What to Bring</h1>
        </div>
      </div>

  <div class="row what-to-bring margin-top-xl">
    <div *ngFor="let c of whatToBringArray; let i = index;" class="col-md-3 margin-bottom-xxl" [ngClass]="{'offset-md-3': i%2 === 0}">
      <div class="text-center">
        <img src="{{c.imgUrl}}">
        <h4 class="text-xs tracking-wide margin-top-xl margin-bottom-sm Poppins-700">{{c.caption}}</h4>
      </div>
    </div>
  </div>

  <div class="row text-center margin-top-xxxl">
      <div class="col-md-12">
        <h1 class="text-xl red">Steps</h1>
      </div>
    </div>

  <div class="steps" *ngFor="let c of stepsArray; let i = index;">
    <div class="row margin-top-xl margin-bottom-md" *ngIf="(i%2 === 0)">
        <div class="offset-md-2 col-md-6">
            <img src="{{c.imgUrl}}">
        </div>
        <div class="col-md-2">
          <div class="caption">
            <h1 class="red text-xxl margin-bottom-md">{{ (i+1) }}</h1>
            <label class="text-xs Poppins-200">{{ c.caption }}</label>
          </div>
        </div>
    </div>

    <div class="row margin-top-xl margin-bottom-md" *ngIf="(i%2 !== 0)">
        <div class="offset-md-2 col-md-2">
          <div class="caption text-right padding-right-md">
              <h1 class="red text-xxl margin-bottom-md">{{ (i+1) }}</h1>
              <label class="text-xs Poppins-200">{{ c.caption }}</label>
            </div>
        </div>
        <div class="col-md-6">
          <img src="{{c.imgUrl}}">
        </div>
    </div>
  </div>


<div class="row text-center margin-top-xxxl">
    <div class="col-md-12 margin-top-xxxl">
      <h1 class="text-xl red">Where to Go</h1>
    </div>
  </div>

    <div class="row margin-top-xl where-to-go">
        <div class="offset-md-2 col-md-8">
            <img src="../../assets/bg-placeholder.png">

            <div class="row what-to-bring margin-top-xl">
                <div *ngFor="let c of whereToGoArray;" class="col-md-6 margin-bottom-xl padding-right-sm padding-left-sm">
                  <div class="row">
                    <div class="col-md-1 vertical-center">
                        <h1 class="red text-xxl display-inline-block">•</h1>
                    </div>
                    <div class="col-md-11 vertical-center">
                        <label class="text-xs Poppins-300 padding-left-xxl">{{ c }}</label>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>

      <div class="row margin-top-md margin-bottom-xxxl">
          <div class="offset-md-2 col-md-12">
            <label class="text-small gray">Sources:</label><br>
            <label class="text-small gray">https://www.esquiremag.ph/culture/lifestyle/pwd-id-mental-illness-a2217-20180813</label><br>
            <label class="text-small gray">http://www.ncda.gov.ph/2009/07/apply-fo-pwd-id-card/</label>
          </div>
        </div>
</div>
