.what-to-bring img {
  border-radius: 50%;
  border: solid 1px #1F1D1B;
  width: 275px;
  height: 275px;
  background-color: white;
}

.downloads img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: solid 1px #1F1D1B;
  background-color: white;
}

.steps img {
  border: solid 1px #1F1D1B;
  width: 100%;
  height: 385px;
  background-color: white;
}

.steps .caption {
  position: absolute;
  bottom: 15%;
}

.where-to-go img {
  width: 100%;
  height: 385px;
}

.what-to-bring .vertical-center {
  vertical-align: middle;
  display: flex;
  align-items: center
}

.what-to-bring .row {
  height: 100%;
}

